.tournament-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.player-score-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.titles {
    display: flex;
    justify-content: space-between;
}

.titles h3 {
    color:white;
}

.player-name {
    text-align: left;
    font-weight: bold;
    color:white;

}

.player-score {
    text-align: right;
    font-weight: normal;
    color:white;
}